<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
<div class="sidebar-item">
{{ .Site.Params.description | safeHTML }}
</div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if .IsHome }} active {{ end }}" href="/">Home</a>

    {{ $thisperma := .URL }}
	{{ range .Site.Menus.main }}
		{{ if .Page.Params.redirect_url }}
        <a class="sidebar-nav-item {{ if eq .URL $thisperma }} active {{ end }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
		{{ else }}
        <a class="sidebar-nav-item {{ if eq .URL $thisperma }} active {{ end }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
		{{ end }}
	{{ end }}

  </nav>

</div>

