{{ partial "default_head.html" . }}

{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}

<div class="posts">
  {{ range .Paginator.Pages }}
    <div class="post">
{{ if .Title }}
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
{{ else }}
        <a href="{{ .Permalink }}"><span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}</a>
{{ end }}
</span>
        {{ .Content }}
    </div>
  {{ end }}
</div>

<div class="pagination">
  {{ if $paginator.HasNext }}
  <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Older</a>
  {{ else }}
  <span class="pagination-item older">Older</span>
  {{ end }}

  {{ if $paginator.HasPrev }}
  <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Newer</a>
  {{ else }}
  <span class="pagination-item newer">Newer</span>
  {{ end }}
</div>

{{ partial "default_foot.html" . }}

